/* table styling */

table {
    border: 1px solid black;
    padding: 1em;
    margin: .5em;
}

th {
    text-align: right;
}

th.head {
    text-align: center;
}

td {
    text-align: right;
    font-family: monospace;
    font-size: 1.2em;
    padding: .25em;
}

/* code styling */

.code {
    border: 1px solid black;
    padding: 1em;
    font-family: monospace;
    font-size: 1.2em;
}

span.line {
    display: block;
    white-space: pre;
}

span.keyword {
    font-weight: bold;
}

span.i {
    color: green;
}

span.phi {
    color: purple;
}

span.theta {
    color: blue;
}

span.active {
    background-color: #ff9;
}

/* button panel styling */

.buttons {
    border: 1px solid black;
    padding: 1em;
    margin: .5em;
}

.buttons input {
    display: block;
}

.buttons button {
    width: 100%;
    display: block;
    margin-top: .5em;
}

/* disclaimer styling */

.disclaimer {
    border: 1px solid black;
    padding: 1em;
    width: 20em;
    margin: .5em;
}

.disclaimer p {
    text-align: justify;
}

/* page layout */

h1, h2 {
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

canvas {
    border: 1px solid black;
    margin: .5em;
}
